
<app-loading *ngIf="loading"></app-loading>

<div *ngIf="error" class="alert alert-danger">
    <h2>
        Se ha producido un error.
    </h2>
    <p>
        {{mensajeError}}
    </p>
</div>



<app-tarjetas [items]="nuevasCanciones"> </app-tarjetas>