


<div class="row">
    <div class="col">
        <input #termino type="text" 
        (keyup)="buscarArtista(termino.value)" 
        class="form-control" 
        placeholder="Buscar artista">
    </div>        
</div>

<app-loading *ngIf="loading" class="m-5"></app-loading>

<app-tarjetas *ngIf="!loading" [items]="artistas"> </app-tarjetas>
